<html>
<head>
    <title>Payment Search List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  
    {% if user.is_authenticated and user.is_superuser or user.profile.user_type == 'admin' or user.profile.user_type == 'teacher' %}
    <div class="container"><h1></h1></div>
<div class="container">
    <div class="card">
        <div class="card-header">
          <span><strong>Search Payments </strong></span>- Use the search form to filter for payment by : <em><strong>first name, last name,  or current class.</strong></em>
        </div>
        <div class="card-body">
 
    <form action="{% url 'payment:search' %}" class="form-inline" method="get">
       <div class="form-group mb-8">
       
            <h5>{% if first_name %}{{ standard.name }}{% else %} Search All Payment {% endif %}</h5>
       </div>
       <div class="form-group mx-sm-3 mb-2">
        <label for="" class="sr-only">search</label>
        <input name="search" type="" class="form-control" id="" placeholder="Keyword">
        </div>
        <button type="submit" class="btn btn-success btn-md mb-2">Search</button>
   </form>
   </div>
   <!-- <div class="card-body"  style="padding-top:1px;"> -->
    <!-- {% for x in payment %} -->
    <!-- <h6> <a href="{{ x.get_absolute_url }}"> {{x.other_detail_b}}    {{x.other_detail_c}}</a></h6> -->
    
     <!-- <hr> -->
    <!-- {% endfor %} -->
    <!-- </div> -->
    <div class="container"><a href="{% url 'payment:payment_report' %}"><h5>"Go Back" </h5></a></div>
<!-- Page Paginator start -->
<div class="card-body">
        {% if student.has_other_pages %}
        {% if student.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page={{ studentlist.previous_page_number }}">&laquo;</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="">&raquo;</a>

        {% endif %}
        {% for i in student.paginator.page_range %}
        {% if student.number == i %}

        <a class="btn btn-info mb-4" href="">{{ i }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if student.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ studentlist.next_page_number }}">&raquo;</a>
        {% else %}

        <a class="btn btn-outline-info mb-4" href="">&raquo;</a>
        {% endif %}
      										
        {% endif %}
    </div>
        <!-- Page Paginator end -->


</div>
</div>
{% endif %}

</body>

</html>